<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>代码生成器</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
		<script type="application/javascript" src="/js/jquery-3.6.0.min.js"></script>
		<script type="application/javascript" src="/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="main">
			<form action="/generate" method="post">
				<table>
					<tr>
						<td>
							<span>数据库连接 IP 地址：</span>
						</td>
						<td>
							<input type="text" name="dbIP" class="form-control" style="width: 300px;" placeholder="请输入您的数据库连接 IP 地址"/>
						</td>
					</tr>
					<tr>
						<td>
							<span>数据库连接端口号：</span>
						</td>
						<td>
							<input type="text" name="dbPort" class="form-control" style="width: 300px;" placeholder="请输入您的数据库连接端口号"/>
						</td>
					</tr>
					<tr>
						<td>
							<span>数据库名：</span>
						</td>
						<td>
							<input type="text" name="dbSchema" class="form-control" style="width: 300px;" placeholder="请输入您的数据库名"/>
						</td>
					</tr>
					<tr>
						<td>
							<span>数据库连接用户名：</span>
						</td>
						<td>
							<input type="text" name="dbName" class="form-control" style="width: 300px;" placeholder="请输入您的数据库连接用户名"/>
						</td>
					</tr>
					<tr>
						<td>
							<span>数据库连接密码：</span>
						</td>
						<td>
							<input type="password" name="dbPassword" class="form-control" style="width: 300px;" placeholder="请输入您的数据库连接密码"/>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: right">
							<button type="submit">生成代码</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>